body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    text-align: center;
    padding: 50px;
}

.container {
    width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    color: white;

    background: url('https://images.unsplash.com/photo-1551024601-bec78aea704b') no-repeat center;
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;

    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.8);
}

input, select {
    padding: 8px;
    margin: 10px;
    width: 85%;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #e60039;
    transform: scale(1.1);
}

h2 {
    margin-bottom: 20px;
}
.main-title {
    text-align: center;
    font-size: 36px;
    color: #b3003b;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}