body
{
background:radial-gradient(circle,#141e30,#243b55);

font-family:Arial;
color:white;
text-align:center;

padding:100px;
}

.countContainer
{
background:rgba(255,255,255,0.1);

backdrop-filter:blur(10px);

padding:40px;
border-radius:20px;

box-shadow:0 0 30px cyan;

width:500px;
margin:auto;
}

#countdown
{
font-size:35px;

margin:30px;

text-shadow:0 0 15px cyan;
}

span
{
margin:10px;
font-weight:bold;
}